@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Alata Regular'), local('Alata-Regular'), url(https://fonts.gstatic.com/s/alata/v1/PbytFmztEwbIoce9zqM.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
html {
  background-color: #EDC7B7;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: 'Alata', sans-serif;
}
.header {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }
}
.header h1 {
  color: #123C69;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}
.header .nav {
  padding-right: 40px;
  color: #AC3B61;
  font-family: 'Alata', sans-serif;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  padding: 16px;
  display: inline-block;
  font-size: 2rem;
}
.header .middle {
  text-align: center;
}
@media (max-width: 500px) {
  .header .middle {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .header .middle {
    flex-direction: column;
  }
}
.header .right {
  text-align: right;
}
.header .left {
  text-align: left;
}
.header i {
  font-size: 2.5rem;
  padding: 8px;
}
footer p {
  display: flex;
  justify-content: center;
}
.home-container button {
  display: flex;
  justify-content: center;
  display: block;
  background-color: #123C69;
  margin: 0;
  cursor: pointer;
  width: 250px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
}
.home-container button:hover {
  background-color: #AC3B61;
}
.home-container .district-pick {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .home-container .district-pick {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .home-container .district-pick {
    flex-direction: column;
    text-align: center;
  }
}
.home-container .district-pick .district {
  padding: 4%;
  padding-top: 1%;
}
.home-container .district-pick .district h4 {
  font-size: 2.2rem;
  text-align: center;
}
.home-container .district-pick .district p {
  font-size: 1.4rem;
  text-align: center;
}
.home-container .geoHeader {
  text-align: center;
  padding: auto;
  font-size: 3rem;
  color: #123C69;
  background-color: #AC3B61;
}
.home-container .geoHeader h2 {
  margin: 0;
}
.home-container .mission-statement {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}
@media (max-width: 500px) {
  .home-container .mission-statement {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .home-container .mission-statement {
    flex-direction: column;
  }
}
.home-container .mission-statement img {
  max-width: 100%;
  height: auto;
}
.home-container .mission-statement .textBox {
  margin: 2%;
  padding: 5px;
}
.home-container .mission-statement .textBox h1 {
  font-size: 3rem;
}
.home-container .mission-statement .textBox p {
  font-size: 1.8rem;
}
.home-container .hero {
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  color: white;
  /* ADD THIS LINE */
  /* Background styles */
  background-image: url("../images/luncher.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/luncher.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-container .hero .button {
  /* Positioning and sizing */
  display: block;
  width: 200px;
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* Text styles */
  color: white;
  /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;
  background-color: #AC3B61;
  /* Border styles */
  border: 3px solid #123C69;
  /* CHANGE THIS LINE */
  border-radius: 20px;
}
.home-container .hero .button:hover {
  background-color: #BAB2B5;
}
.home-container .hero .inner-hero h1 {
  font-size: 5.2rem;
}
.home-container .hero .inner-hero h2 {
  font-size: 2rem;
}
div.homeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.district {
  width: 100vw;
  height: 36vh;
  /* Flexbox stuff */
  /* Text styles */
  text-align: center;
  color: white;
  /* ADD THIS LINE */
  /* Background styles */
  background-image: url("../images/luncher.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/luncher.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.app-statement {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .app-statement {
    flex-direction: column-reverse;
  }
}
@media (max-width: 800px) {
  .app-statement {
    flex-direction: column-reverse;
  }
}
.app-statement img {
  max-width: 100%;
  height: auto;
}
.app-statement .textBox {
  margin: 2%;
  padding: 5px;
}
.app-statement .textBox h1 {
  font-size: 3rem;
}
.app-statement .textBox p {
  font-size: 1.8rem;
}
.sig {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}
.home-container-about .team {
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .home-container-about .team {
    flex-direction: column;
  }
}
.home-container-about .team .dev {
  text-align: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.home-container-about .team .dev h4 {
  font-size: 2.2rem;
}
.home-container-about .team .dev p {
  font-size: 1.8rem;
}
.home-container-about .team .dev button {
  display: block;
  background-color: #123C69;
  margin: 0;
  cursor: pointer;
  width: 80px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.home-container-about .team .dev button:hover {
  background-color: #AC3B61;
}
.home-container-about .hero-about {
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  color: white;
  /* ADD THIS LINE */
  /* Background styles */
  background-image: url("../images/aboutHero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/abouthero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home-container-about .hero-about .button {
  /* Positioning and sizing */
  display: block;
  width: 200px;
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* Text styles */
  color: white;
  /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;
  background-color: #AC3B61;
  /* Border styles */
  border: 3px solid #123C69;
  /* CHANGE THIS LINE */
  border-radius: 20px;
}
.home-container-about .hero-about .button:hover {
  background-color: #BAB2B5;
}
.home-container-about .hero-about .inner-hero-about h1 {
  font-size: 5.2rem;
}
.home-container-about .hero-about .inner-hero-about h2 {
  font-size: 2rem;
}
.aboutButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bottom {
  border-top: 1px solid black;
  background-color: #EDC7B7;
}
