@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
.header {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {

    color: @color4;
    font-family: @logoFont;
    font-size: 4rem;
  }
  .nav {
    padding-right: 40px;
    color: @color5;
    font-family: @textOne;
  }

  a {
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
    display: inline-block;
    font-size: 2rem;
  }
  .middle {
  text-align: center;
}

.right {
  text-align: right;

}

.left{
  text-align:left;

}
i{
  font-size: 2.5rem;
  padding:8px;
}
}
